.world {
  max-width: 800px;
}

.slider-label {
  margin-top: 10px;
  transform: rotate(-45deg);
	transform-origin: 0 0;
}

.crosshair {
  overflow: hidden;
  max-height: 200px;
}

@media only screen and (max-width: 1200px) {
  .world {
    max-width: 90%;
  }
}